<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{ object.title }}
    {% for lesson in object.lessons %}
        <a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a>
    {% endfor %}
</body>
</html>
