<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>this is course list view</h1>
    {% for object in object_list %}

        <p><a href="{{ object.get_absolute_url }}">{{ object }} </a></p>

    {% endfor %}
</body>
</html>