<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Lesson detail view</h1>
    {% if object is not None %}

        {{ object.title }}
        {{ object.description }}

    {% else %}
        <h3>Upgrade Membership</h3>
    {% endif %}
</body>
</html>